@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Roboto&display=swap');

$roboto: 'Roboto', sans-serif;
$shoulders: 'Big Shoulders Text', cursive;

.divider {
  border-bottom: 1px solid black;
}

.header {
  font-family: $roboto;
  padding-left: 30px;
  background: linear-gradient(45deg, rgba(41, 110, 133, .5), white 70%);
  border-radius: 5px;
  .name {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .title {
    margin-top: 0px;
    padding-top: 0px;
  }

  .contact {
    display: flex;
    .imgCont {
      font-size: 1.5rem;
      padding-bottom: 10px;
      display: flex;
      flex-wrap:  wrap;

      .contactInfo {
        font-size: 1rem;
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
}

.skills {
  font-family: $roboto;
  width: 90%;
  margin: 0 auto;

  .skillsHead {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 5px;
  }

  .listOne {
    display: flex;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 0px;
    margin: 0px;

    .list {
      padding-bottom: 10px;
    }
  }
}

.projCont {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

  .projTitle {
    color: rgba(41, 110, 120, 1);
    width: 39%;
    font-size: .9rem;
    text-decoration: underline;
    margin: 2px;
    padding-bottom: 5px;
    text-align: left;
  }

  .link {
    display: flex;
    align-items: flex-end;
    font-size: .9rem;
    justify-content: flex-end;
    color: rgba(41, 110, 120, 1);
    width: 59%;
    text-decoration: underline;
    padding-bottom: 5px;
    margin: 2px;
  }

  .projDesc {
    font-size: .8rem;
  }

  .listTwo {
    display: flex;
    font-weight: bold;
    font-size: .8rem;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;

    .list {
      padding-bottom: 10px;
    }
  }

  .featureList {
    margin-top: 0px;
    font-size: .8rem;
  }

  .position {
    color: rgba(41, 110, 120, 1);
    width: 100%;
    font-size: .9rem;
    font-weight: bold;
    text-decoration: underline;
    margin: 2px;
    padding-bottom: 5px;
    text-align: left;

  }
}


